<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/login.png" id="icon" alt="User Icon" />
    </div>

    <!-- Register Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second"  placeholder="username" formControlName="username">
      <input type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>

    <div class="d-flex justify-content-center links">
      Don't have an account?<a href="#">Sign Up</a>
    </div>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>


  </div>
</div>